<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Data Harbor Pro</title>
    <link rel="stylesheet" href="/backend/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/backend/css/bootstrap-icons.css" />
    <link rel="stylesheet" href="/backend/css/admin-style.css" />
    <link rel="stylesheet" href="/backend/css/custom-styles.css" />
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        color: #333;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: #007bff;
        color: #fff;
        padding: 20px 0;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .logo {
        width: 80px;
        height: auto;
        margin-bottom: 10px;
      }

      .company-name {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
      }

      .logout-link {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        transition: color 0.3s ease;
        border: 2px solid transparent;
        padding: 8px 16px;
        border-radius: 5px;
        background-color: transparent;
        margin-top: 10px;
        display: inline-block;
        text-transform: uppercase;
      }

      .logout-link:hover {
        color: #007bff;
        background-color: #fff;
        border-color: #007bff;
      }

      header h1 {
        margin: 0;
        font-size: 24px;
      }

      header a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
      }

      .main-container {
        margin-top: 50px;
        padding: 20px;
      }

      .card {
        border: none;
        border-radius: 10px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
      }

      .card-header {
        background-color: #007bff;
        color: #fff;
        border-radius: 10px 10px 0 0;
      }

      .card-body {
        padding: 20px;
      }

      .form-label {
        font-weight: bold;
        color: #333;
        font-size: 16px;
      }

      .form-control {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
      }

      .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }

      .btn-primary {
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
      }

      .btn-primary:hover {
        background-color: #0056b3;
      }
    </style>
  </head>

  <body>
    <header>
      <a href="/admin-home"
        ><img
          class="logo"
          src="/images/Data-harbor-pro-high-resolution-logo-black-transparent.png"
          alt="Logo"
      /></a>
      <h1 class="company-name">Data Harbor Pro</h1>
      <a class="logout-link" href="/logout">Logout</a>
    </header>
    <div class="main-container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-15">
          <div class="dashboard-content-area">
            <div class="card mt-4">
              <div class="card-header">
                <h1 class="mb-0">Add Page</h1>
              </div>
              <div class="card-body">
                <form
                  method="post"
                  action="/admin-home/adddata"
                  enctype="multipart/form-data"
                >
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div
                      class="col col-lg-5 d-flex justify-content-end align-items-center"
                    >
                      <label class="form-label"
                        >Activity Details <br />(Guest Lecture/Workshop/CORE
                        Event etc)</label
                      >
                    </div>
                    <div class="col">
                      <div class="custom-select">
                        <select
                          name="Activity_Details"
                          class="form-control"
                          id="activityDetailsSelect"
                        >
                          <option value="" disabled selected>
                            Activity Details
                          </option>
                          <option value="Guest Lecture">Guest Lecture</option>
                          <option value="Prayog">Prayog</option>
                          <option value="Workshop">Workshop</option>
                          <option value="Value Added Program">V A P</option>
                          <option value="Training">Training</option>
                          <option value="Dista">Dista</option>
                          <option value="Technosinh">Technosinh</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">Name of Activity</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Name_Of_Activity"
                        class="form-control"
                        placeholder="Name of Activity"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">Academic Year</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Academic_Year"
                        class="form-control"
                        placeholder="Eg. 2023-24"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label"
                        >Start Date of Activity held</label
                      >
                    </div>
                    <div class="col">
                      <input
                        type="date"
                        name="Start_Date_of_Activity_Held"
                        class="form-control"
                        placeholder="Start Date of Activity Held"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label"
                        >End Date of Activity held</label
                      >
                    </div>
                    <div class="col">
                      <input
                        type="date"
                        name="End_Date_of_Activity_Held"
                        class="form-control"
                        placeholder="End Date of Activity Held"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">Time</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Time"
                        class="form-control"
                        placeholder="Time"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">No. of Days</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Number_of_Days"
                        class="form-control"
                        placeholder="Number of Days"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label"
                        >Type of Activity
                        (cultural/curricular/co-curricular)</label
                      >
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Type_of_Activity"
                        class="form-control"
                        placeholder="Type of Activity"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div
                      class="col col-lg-5 d-flex justify-content-end align-items-center"
                    >
                      <label class="form-label">Resource Persons</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Resource_Person"
                        class="form-control"
                        placeholder="Resource Person"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div
                      class="col col-lg-5 d-flex justify-content-end align-items-center"
                    >
                      <label class="form-label"
                        >Professional Details of Resource Persons with Contact
                        Details (email &Phone)</label
                      >
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Professional_Details_of_Resource_Person"
                        class="form-control"
                        placeholder="Professional Details of Resource Person"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">Year / Class</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Year_Class"
                        class="form-control"
                        placeholder="Year / Class"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">No. of students</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Number_of_students"
                        class="form-control"
                        placeholder="Number of students"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">Activity In charge</label>
                    </div>
                    <div class="col">
                      <input
                        type="text"
                        name="Activity_In_charge"
                        class="form-control"
                        placeholder="Activity In charge"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label">Photo</label>
                    </div>
                    <div class="col">
                      <input
                        type="file"
                        name="photo"
                        class="form-control"
                        required
                      />
                    </div>
                  </div>
                  <div class="mb-3 mt-3 row g-9 align-items-center">
                    <div class="col col-lg-5">
                      <label class="form-label"
                        >Description of Activity in Brief:</label
                      >
                    </div>
                    <div class="col">
                      <textarea
                        rows="10"
                        class="editor form-control"
                        name="Description_of_Activity_in_Brief"
                        placeholder="Description of Activity in Brief"
                        required
                      ></textarea>
                    </div>
                  </div>
                  <div class="mb-5 mt-3 align-items-center text-center">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/backend/js/jquery.min.js"></script>
    <script src="/backend/js/bootstrap.bundle.min.js"></script>
    <script src="/backend/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="/backend/js/datatables.min.js"></script>
    <script type="text/javascript">
      // Your JavaScript code here
    </script>
  </body>
</html>
